
@{
    ViewBag.Title = "Report";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
        var weight = '@ViewData["weight"]';
        var height = '@ViewData["height"]';
    var type = '@ViewData["type"]';
    
   
    function calculate() {
        var w = 0;
        var h = 0;
        var t;
        var plan;
        w = parseInt(weight);
        h = parseInt(height);
        t = String(type);
        
        if (t == "CM") {
            h = h * 0.01;

            var bmi = w / (h * h);
            document.getElementById("BMI").innerHTML = bmi ;
            if (bmi < 18.5) {
                plan = "Underweight";
                document.getElementById("Status").innerHTML = plan;
            }
            else if (bmi > 18.5 && bmi <= 24.9) {
                plan = "Normal";
                document.getElementById("Status").innerHTML=plan;
            }
            else if (bmi > 25.0 && bmi <= 29.9) {
                plan = "Overweight";
                document.getElementById("Status").innerHTML = plan;
            }
            else if (bmi > 30.0) {
                plan = "Obese";
                document.getElementById("Status").innerHTML = plan;
            }
            else { return 0; }

 


        }
        else if (t == "Inches") {
            h = h * 0.0254;
            var bmi = w / (h * h);
            document.getElementById("BMI").innerHTML = bmi;

            if (bmi < 18.5) {
                plan = "Underweight";
                document.getElementById("Status").innerHTML = plan;
            }
            else if (bmi > 18.5 && bmi <= 24.9) {
                plan = "Normal";
                document.getElementById("Status").innerHTML = plan;
            }
            else if (bmi > 25.0 && bmi <= 29.9) {
                plan = "Overweight";
                document.getElementById("Status").innerHTML = plan;
            }
            else if (bmi > 30.0) {
                plan = "Obese";
                document.getElementById("Status").innerHTML = plan;
            }
            else { return 0; }
            

        }
        else if (t == "Feet") {
            h = h / 3.281;
            var bmi = w / (h * h);
            document.getElementById("BMI").innerHTML = bmi;

            if (bmi < 18.5) {
                plan = "Underweight";
                document.getElementById("Status").innerHTML = plan;
            }
            else if (bmi > 18.5 && bmi <= 24.9) {
                plan = "Normal";
                document.getElementById("Status").innerHTML = plan;
            }
            else if (bmi > 25.0 && bmi <= 29.9) {
                plan = "Overweight";
                document.getElementById("Status").innerHTML = plan;
            }
            else if (bmi > 30.0) {
                plan = "Obese";
                document.getElementById("Status").innerHTML = plan;
            }
            else { return 0; }
            

        }

        else {
            alert("Please Fill in everything correctly");
        }

        if (plan == "Normal") {
            
            let link = document.createElement('a');
            link.innerHTML = "To Maintain Calories";
            link.setAttribute('href', 'http://localhost:62550/User/Normal');
            
            document.getElementById("plan").appendChild(link);
        }
        else if (plan == "Underweight") {
            
            let link = document.createElement('a');
            link.innerHTML = "To Become Healthy";
            link.setAttribute('href', 'http://localhost:62550/User/Underweight');
            
            document.getElementById("plan").appendChild(link);
        }
        else if (plan == "Overweight") {
            
            let link = document.createElement('a');
            link.innerHTML = "To Become Healthy";
            link.setAttribute('href', 'http://localhost:62550/User/Overweight');
           
            document.getElementById("plan").appendChild(link);
        }
        else if (plan == "Obese") {
            
            let link = document.createElement('a');
            link.innerHTML = "To Become Healthy";
            link.setAttribute('href', 'http://localhost:62550/User/Obese');
            
            document.getElementById("plan").appendChild(link);
        }
        else { return 0; }

        if (plan == "Normal") {

            let link = document.createElement('a');
            link.innerHTML = "To Maintain Fitness";
            link.setAttribute('href', 'http://localhost:62550/User/Plan1');
            link.classList.add("btn", "btn-success");
            document.getElementById("Plan").appendChild(link);
        }
        else if (plan == "Underweight") {

            let link = document.createElement('a');
            link.innerHTML = "To Become Fit";
            link.setAttribute('href', 'http://localhost:62550/User/Plan2');
            link.classList.add("btn", "btn-success");
            document.getElementById("Plan").appendChild(link);
        }
        else if (plan == "Overweight") {

            let link = document.createElement('a');
            link.innerHTML = "To Burn Calories";
            link.setAttribute('href', 'http://localhost:62550/User/Plan3');
            link.classList.add("btn", "btn-success");
            document.getElementById("Plan").appendChild(link);
        }
        else if (plan == "Obese") {

            let link = document.createElement('a');
            link.innerHTML = "To Burn Calories";
            link.setAttribute('href', 'http://localhost:62550/User/Plan4');
            link.classList.add("btn", "btn-success");
            document.getElementById("Plan").appendChild(link);
        }
        else { return 0; }



    }

</script>
<body onload="calculate()">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><i class="fa fa-child" style="font-size:20px;color:white; padding-right:5px;" aria-hidden="true"></i>Unfit2<b>Fit</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("Home","BMI")" style="font-size:20px;color:white; margin-left:1450px;">
            <b>Logout</b><i class="fa fa-sign-out fa-4" style="font-size:20px;color:white; padding-left:5px;" aria-hidden="true"></i>
        </a>



    </nav>

<div class="panel panel-primary">
    <div class="panel-heading" style="padding:22px;">
        <h3 class="panel-title">BMI Report</h3>
        <div class="pull-right">
            <i class="fa fa-address-card-o" aria-hidden="true"></i>

        </div>
    </div>
    <div class="panel-body">
    <table class="table table-hover" id="dev-table">
        <tbody>
            <tr>

                <th>First Name</th>
                <td>@ViewData["fname"]</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>@ViewData["lname"]</td>
            </tr>


            <tr>
                <th>Age</th>
                <td>@ViewData["age"]</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>@ViewData["height"]</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>@ViewData["weight"]</td>
            </tr>
            <tr>
                <th>BMI</th>
                <td><p id="BMI"> </p></td>
            </tr>
            <tr>
                <th>Status</th>
                <td><p id="Status"> </p></td>
            </tr>
            <tr>
                <th>Diet Plan</th>
                <td><p id="plan" class="btn btn-success"></p></td>
            </tr>
            <tr>
                <th>Excercise Plan</th>
                <td><p id="Plan"></p></td>
            </tr>
        </tbody>
    </table>
   </div>
</div>
    </body>
